html{
  background-color: rgb(167, 111, 219);
}


body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

.heroSection{
  background-image: url(images/nasa-Yj1M5riCKk4-unsplash.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center;

}

header, footer{
  padding: 1rem;
}
